@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/StudentUI.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/studentinfo.js"></script>
</head>

<body>
    <div class="box5" style="position:relative;">
        <!-- 背景图的div -->
        <img style="position:absolute;margin-left: 5%;margin-top: 9%" src="~/Content/themes/portrait.png" width=28% height=50% />
        <div class="FONT40" style="position:absolute; z-index:2; top:120px">点击头像修改</div>
        <img src="~/Content/themes/background.jpg" width=100% height=100% />
        <div class="FONT4" style="position:absolute; z-index:2; top:15px">姓名：<span id="username"></span></div>
        <div class="FONT4" style="position:absolute; z-index:2; top:100px">学号：<span id="stuid"></span></div>
    </div>

    <div class="InfoBox">
        <span>
            <p class="InfoFONT1" style="margin-left: 20%;margin-top: 10%">手机号：</p>
            <p class="InfoFONT2" style="margin-left: 50%;margin-top: 10%" id="phone"></p>
        </span>
    </div>
    <div class="InfoBox">
        <span>
            <p class="InfoFONT1" style="margin-left: 20%;margin-top: 10%">学号：</p>
            <p class="InfoFONT2" style="margin-left: 50%;margin-top: 10%" id="stuid"></p>
        </span>
    </div>
    <div class="InfoBox">
        <span>
            <p class="InfoFONT1" style="margin-left: 20%;margin-top: 10%">学校：</p>
            <p class="InfoFONT2" style="margin-left: 50%;margin-top: 10%"id="school"></p>
        </span>
    </div>
    <div class="InfoBox">
        <span>
            <p class="InfoFONT1" style="margin-left: 20%;margin-top: 10%">姓名：</p>
            <p class="InfoFONT2" style="margin-left: 50%;margin-top: 10%" id="username"></p>
        </span>
    </div>
    <div class="BlueBlock">

        <div class="ReviseBtn1">
            <p class="BtnFONT1" style="margin-left: 10%;margin-top: 45px">退出登录</p>
        </div>
        <div class="ReviseBtn2">
            <p class="BtnFONT2" style="margin-left: 10%;margin-top: 45px">解绑账号</p>
        </div>
    </div>  
  
</body>


</html>
