@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/StudentUI.css"rel="stylesheet"type="text/css" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css"rel="stylesheet" />
</head>

<body>
    <div class="box5" style="position:relative;">
        <!-- 背景图的div -->
        <img style="position:absolute;margin-left: 5%;margin-top: 9%" src="~/Content/themes/portrait.png" width=28% height=50% />
        <img src="~/Content/themes/background.jpg" width=100% height=100% />
        <div class="FONT4" style="position:absolute; z-index:2; top:15px">姓名：韦小宝</div>
        <div class="FONT4" style="position:absolute; z-index:2; top:100px">学号：243201522xxxxx</div>
    </div>

    <div class="box3">
        <p class="FONT1" style="margin-left: 10%;margin-top: 50px"> J2EE</p>
        <p class="FONT5" style="margin-left: 60%;margin-top: 11%;"> 老师：邱明</p>
    </div>
    <div class="box3">
        <p class="FONT1" style="margin-left: 10%;margin-top: 50px"> OOAD</p>
        <p class="FONT5" style="margin-left: 60%;margin-top: 11%;"> 老师：邱明</p>
    </div>
    <div class="box3">
        <p class="FONT1" style="margin-left: 10%;margin-top: 50px"> Java</p>
        <p class="FONT5" style="margin-left: 60%;margin-top: 11%;"> 老师：王美红</p>
    </div>
    <div class="box3">
        <p class="FONT1" style="margin-left: 10%;margin-top: 50px"> OS</p>
        <p class="FONT5" style="margin-left: 60%;margin-top: 11%;"> 老师：吴清强</p>
    </div>
</body>


</html>
