@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/TeacherUI.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/teacherinfo.js"></script>

</head>

<body>
    <div class="box5" style="position:relative;">
        <!-- 背景图的div -->
        <img style="position:absolute;margin-left: 5%;margin-top: 9%" src="~/Content/themes/portrait.png" width=28% height=50% />
        <img src="~/Content/themes/background.jpg" width=100% height=100% />
        <div class="FONT4" style="position:absolute; z-index:2; top:15px" >姓名：<span id="username"></span></div>
        <div class="FONT4" style="position:absolute; z-index:2; top:100px">教工号：<span id="teacherid"></span></div>
    </div>

    <div class="box3">
        <p class="FONT1" style="margin-left: 10%;margin-top: 50px"><span id="course1"></span> </p>
    </div>
    <A href="javascript:void(0);" onclick="window.location.href='TeacherUI2'">
        <div class="box3">
            <p class="FONT1" style="margin-left: 10%;margin-top: 50px"><span id="course2"></span></p>
        </div>
   </A>
        <div class="box3">
            <p class="FONT1" style="margin-left: 10%;margin-top: 50px"><span id="course3"></span></p>
        </div>
        <div class="box3">
            <p class="FONT1" style="margin-left: 10%;margin-top: 50px"><span id="course4"></span></p>
        </div>

</body>

</html>
